body {
    background: linear-gradient(135deg, rgb(21, 205, 246), rgb(108, 47, 249));
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-shadow: 10px 10px 15px black;
    min-width: 400px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.displays {
    box-shadow: 3px 3px 5px black;
    min-width: 90vh;
}

#password {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    font-size: 16px;
    resize: none; /* Prevent manual resizing */
    box-sizing: border-box; /* Ensures padding is included in the element's width */
    overflow: hidden; /* Hides scrollbar */
}